<section id="section-about" class="section" data-view="about">
	<div class="sponsor__header">
		<h3>Hi.</h3>
		<!-- <div class="button-group button-group--cta-left">
			<iframe
				class="sponsor--github"
				src="https://github.com/sponsors/eamodio/button"
				title="Sponsor Eric Amodio"
				height="35"
				width="116"
				style="border: 0"
			></iframe>
		</div> -->
	</div>
	<div class="about__image" style="background-image: url(../../assets/me.png)"></div>
	<p>
		I'm Eric Amodio &mdash; an entrepreneur, innovator, leader, architect, and full-stack developer. I am currently
		the CTO at <a href="https://gitkraken.com" target="_blank">GitKraken</a>. My passion lies with dreaming up new
		ideas and bringing them to life through code. I thrive on challenges and solving complex problems, while also
		ensuring that the challenges accepted and solutions devised are always made with an eye on the bigger picture
		&mdash; the user experience. I pride myself with the ability of being able to see the forest for the trees, as
		well as being able to dive deeply into the details. I take great care in the experience, architecture, and code
		of the products that I build.
	</p>
	<p>
		My favorite editor is
		<a title="Learn more about Visual Studio Code" href="https://code.visualstudio.com" target="_blank"
			>Visual Studio Code</a
		>
		and my favorite technologies currently are
		<a title="Learn more about TypeScript" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>,
		<a title="Learn more about Node.js" href="https://nodejs.org/" target="_blank">Node.js</a>, and
		<a title="Learn more about .NET Core" href="https://dot.net/" target="_blank">.NET Core</a>.
	</p>
	<p>
		I am also an open-source enthusiast and
		<a title="See me on GitHub" href="https://github.com/eamodio" target="_blank">maintainer</a>. I &#x2764;
		open-source &mdash; both building and contributing. I love the collaboration and the sharing of knowledge driven
		by the open-source movement. It is a wonderful and exciting time to be a developer.
	</p>
	<!-- <p>
		If you find
		<a title="Learn more about GitLens" href="#gitlens"><b>GitLens</b></a> or any of my other open-source work
		useful, please sponsor me. And if you use <b>GitLens</b> for work, please encourage your employer to sponsor me
		as well. Your <b>sponsorship</b> will help make my continued development of <b>GitLens</b> more
		<b>sustainable</b> and will <b>benefit millions</b> of VS Code users. Thank you for your sponsorship! 🙏
	</p>
	<div class="button-group button-group--sponsor-primary">
		<a class="button button--flat-primary" title="Become a sponsor to support my work" href="#sponsor"
			>&#129293; Sponsor Me</a
		>
	</div> -->
	<p>
		When I'm not coding <sup> <a title="Yes, that can happen occasionally">1</a> </sup> or keeping up with the
		latest technologies, you will find me spending time with my wife and two kids. I also love traveling, hiking,
		camping, and diving.
	</p>
	<p>
		You can also find me on
		<a title="Follow me on Twitter" href="https://twitter.com/eamodio" target="_blank">Twitter</a>,
		<a rel="me" title="Follow me on Mastodon" href="https://hachyderm.io/@eamodio" target="_blank">Mastodon</a>, and
		<a title="Follow me on GitHub" href="https://github.com/eamodio" target="_blank">GitHub</a>.
	</p>
</section>
