<section id="section-gitlens" class="section" data-view="gitlens">
	<!-- <div class="section-header"> -->
	<div class="sponsor__header">
		<h3>
			<a title="Learn more about GitLens" href="https://gitlens.amod.io/" target="_blank">
				<img class="gitlens__image" src="../../assets/gitlens-logo.png" />
			</a>
		</h3>
		<!-- <div class="button-group button-group--cta-left">
			<iframe
				class="sponsor--github"
				src="https://github.com/sponsors/eamodio/button"
				title="Sponsor Eric Amodio"
				height="35"
				width="116"
				style="border: 0"
			></iframe>
		</div> -->
	</div>
	<!-- </div> -->
	<p class="section-header__blurb">
		GitLens <b>supercharges</b> the Git capabilities built into Visual Studio Code. It helps you to
		<b>visualize code authorship</b> at a glance via Git blame annotations and code lens,
		<b>seamlessly navigate and explore</b> Git repositories, <b>gain valuable insights</b> via powerful comparison
		commands, and so much more.
	</p>
	<p>
		<a title="Learn more about GitLens" href="https://gitlens.amod.io/" target="_blank"><b>GitLens</b></a>
		is a powerful,
		<a title="GitLens on GitHub" href="https://github.com/eamodio/vscode-gitlens" target="_blank">open-source</a>,
		Git extension for
		<a title="Learn more about Visual Studio Code" href="https://code.visualstudio.com" target="_blank"
			>Visual Studio Code</a
		>
		that is <b>loved and relied upon by millions</b>. It was created, developed, and maintained by me, until October
		2021 when we were
		<a
			title="Learn more about GitKraken and GitLens joining forces!"
			href="https://www.gitkraken.com/blog/gitkraken-acquires-gitlens-for-visual-studio-code"
			target="_blank"
			>acquired by GitKraken</a
		>. 🎉
	</p>
	<p>
		<b>GitLens</b> simply helps you <b>better understand code</b>. Quickly glimpse into whom, why, and when a line
		or code block was changed. Jump back through history to <b>gain further insights</b> as to how and why the code
		evolved. Effortlessly explore the history and evolution of a codebase.
	</p>
	<div class="button-group button-group--primary">
		<a
			class="button button--flat-primary"
			title="Learn more about GitLens"
			href="https://gitlens.amod.io/"
			target="_blank"
			>Learn more</a
		>
		<!-- <a
			class="button button--flat-primary"
			title="Become a sponsor to support GitLens and my open-source work"
			href="#sponsor"
			>&#129293; Sponsor</a
		> -->
	</div>
	<p class="gitlens__badges">
		<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank">
			<img
				src="https://vsmarketplacebadge.apphb.com/version-short/eamodio.gitlens.svg?colorA=482659&amp;colorB=914db3"
				alt="marketplace"
			/>
		</a>
		<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank">
			<img
				src="https://vsmarketplacebadge.apphb.com/downloads-short/eamodio.gitlens.svg?colorA=482659&amp;colorB=914db3"
				alt="downloads"
			/>
		</a>
		<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank">
			<img
				src="https://vsmarketplacebadge.apphb.com/rating-short/eamodio.gitlens.svg?colorA=482659&amp;colorB=914db3"
				alt="rating"
			/>
		</a>
		<a href="https://vscode-slack.amod.io" target="_blank">
			<img
				src="https://img.shields.io/badge/vscode--dev--community-gitlens-blue.svg?logo=slack&amp;colorA=482659&amp;colorB=914db3"
				alt="slack"
			/>
		</a>
	</p>
	<p>
		Today, <b>GitLens</b> has over <b>11 million installs</b> and over <b>70M downloads</b> &#x1F631;! It is
		<b>loved and relied upon by millions</b> of users, on teams of all sizes, ranging from single developers to
		large enterprise teams. <b>GitLens</b> has quickly grown from a simple prototype into a feature-rich product
		with a <b>mission</b> of its own &mdash; to simply help you <b>better understand code</b>.
	</p>
	<!-- <div class="button-group button-group--secondary">
		<a
			class="button button--flat-inverse-secondary"
			title="Become a GitLens sponsor"
			href="https://gitlens.amod.io/#sponsor"
			target="_blank"
			>&#129293; Sponsor GitLens</a
		>
	</div>
	<p>
		So, if you find
		<b>GitLens</b> useful, please sponsor me. And if you use <b>GitLens</b> for work, please encourage your employer
		to sponsor me as well. Your sponsorship will help make my continued development of <b>GitLens</b> more
		sustainable and will <b>benefit millions</b> of VS Code users.
	</p> -->
	<p>
		<a
			title="Read reviews on the Visual Studio Marketplace"
			href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#review-details"
			target="_blank"
			>Read the reviews</a
		>
		to see what people are saying about GitLens. Below is my favorite review. 😁
	</p>
	<div class="gitlens__tweet">
		<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en">
			<p lang="en" dir="ltr">
				I have never seen such an amazing plugin for
				<a href="https://twitter.com/code?ref_src=twsrc%5Etfw" target="_blank">@code</a> as GitLens. You NEED to
				try this. NOW. <a href="https://t.co/LFmrzEszZy" target="_blank">GitLens</a> by
				<a href="https://twitter.com/eamodio?ref_src=twsrc%5Etfw">@eamodio</a>
			</p>
			&mdash; Scott Hanselman (@shanselman)
			<a href="https://twitter.com/shanselman/status/908123838768078848?ref_src=twsrc%5Etfw" target="_blank"
				>September 14, 2017</a
			>
		</blockquote>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</section>
