<section id="section-gitlens" class="section" data-view="gitlens">
	<div class="section-header">
		<a title="Learn more about GitLens" href="https://gitlens.amod.io/" target="_blank">
			<img class="gitlens__image" src="../../assets/gitlens-logo.png" />
		</a>
	</div>
	<p class="section-header__blurb">
		GitLens <b>supercharges</b> the Git capabilities built into Visual Studio Code. It helps you to
		<b>visualize code authorship</b> at a glance via Git blame annotations and code lens,
		<b>seamlessly navigate and explore</b> Git repositories, <b>gain valuable insights</b> via powerful comparison
		commands, and so much more.
	</p>
	<p>
		<a title="Learn more about GitLens" href="https://gitlens.amod.io/" target="_blank">GitLens</a>
		is an
		<a title="GitLens on GitHub" href="https://github.com/eamodio/vscode-gitlens" target="_blank">open-source</a>
		extension for
		<a title="Learn more about Visual Studio Code" href="https://code.visualstudio.com" target="_blank"
			>Visual Studio Code</a
		>
		that I created.
	</p>
	<p>
		<a title="Learn more about GitLens" href="https://gitlens.amod.io/" target="_blank">GitLens</a>
		simply helps you <b>better understand code</b>. Quickly glimpse into whom, why, and when a line or code block
		was changed. Jump back through history to <b>gain further insights</b> as to how and why the code evolved.
		Effortlessly explore the history and evolution of a codebase.
	</p>
	<div class="button-group button-group--primary">
		<a
			class="button button--flat-primary"
			title="Learn more about GitLens"
			href="https://gitlens.amod.io/"
			target="_blank"
			>Learn more</a
		>
		<!-- <a
			class="button button--flat-primary"
			title="Become a sponsor to support GitLens and my open-source work"
			href="#sponsor"
			>&#129293; Sponsor</a
		> -->
	</div>
	<div class="button-group button-group--secondary">
		<a
			class="button button--flat-inverse-secondary"
			title="Become a GitLens sponsor"
			href="https://gitlens.amod.io/#sponsor"
			target="_blank"
			>&#129293; Sponsor GitLens</a
		>
	</div>
	<p class="gitlens__badges">
		<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank">
			<img
				src="https://vsmarketplacebadge.apphb.com/version-short/eamodio.gitlens.svg?colorA=482659&amp;colorB=914db3"
				alt="marketplace"
			/>
		</a>
		<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank">
			<img
				src="https://vsmarketplacebadge.apphb.com/downloads-short/eamodio.gitlens.svg?colorA=482659&amp;colorB=914db3"
				alt="downloads"
			/>
		</a>
		<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank">
			<img
				src="https://vsmarketplacebadge.apphb.com/rating-short/eamodio.gitlens.svg?colorA=482659&amp;colorB=914db3"
				alt="rating"
			/>
		</a>
		<a href="https://vscode-slack.amod.io" target="_blank">
			<img
				src="https://img.shields.io/badge/vscode--dev--community-gitlens-blue.svg?logo=slack&amp;colorA=482659&amp;colorB=914db3"
				alt="slack"
			/>
		</a>
	</p>
	<p>
		While
		<a title="Learn more about GitLens" href="https://gitlens.amod.io/" target="_blank">GitLens</a>
		is generously offered to everyone free of charge, if you find it useful, please consider
		<a title="Become a GitLens sponsor" href="https://gitlens.amod.io/#sponsor" target="_blank">sponsoring</a> it.
		Additionally please
		<a title="Star GitLens on GitHub" href="https://github.com/eamodio/vscode-gitlens" target="_blank"
			>star it on GitHub</a
		>,
		<a
			title="Write a review of GitLens"
			href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#review-details"
			target="_blank"
			>write a review</a
		>, follow me on
		<a title="Follow me on Twitter" href="https://twitter.com/eamodio" target="_blank">Twitter</a>
		and
		<a title="Follow me on GitHub" href="https://github.com/eamodio" target="_blank">GitHub</a>, or consider
		<a title="Hire me" href="mailto:eric@amod.io" target="_blank">hiring me</a>.
	</p>
	<p>
		<a
			title="Read reviews on the Visual Studio Marketplace"
			href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#review-details"
			target="_blank"
			>Read the reviews</a
		>
		to see what people are saying about GitLens. I am truly humbled by the love and support of the Visual Studio
		Code community.
	</p>
	<div class="gitlens__tweet">
		<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en">
			<p lang="en" dir="ltr">
				I have never seen such an amazing plugin for
				<a href="https://twitter.com/code?ref_src=twsrc%5Etfw" target="_blank">@code</a> as GitLens. You NEED to
				try this. NOW. <a href="https://t.co/LFmrzEszZy" target="_blank">GitLens</a> by
				<a href="https://twitter.com/eamodio?ref_src=twsrc%5Etfw">@eamodio</a>
			</p>
			&mdash; Scott Hanselman (@shanselman)
			<a href="https://twitter.com/shanselman/status/908123838768078848?ref_src=twsrc%5Etfw" target="_blank"
				>September 14, 2017</a
			>
		</blockquote>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<p class="gitlens__tweet-caption">&#x2764; My favorite review</p>
	</div>
</section>
