<div class="donate-popup hide" data-target="pure-donate-popup">
	<div class="close-button" data-action="pure-donate-close-button">
		<svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
			<path
				fill="#000"
				d="M33.199 30l11.14-11.139a2.262 2.262 0 00-3.2-3.199L30 26.802l-11.139-11.14a2.262 2.262 0 00-3.199 3.199l11.14 11.14-11.14 11.138a2.262 2.262 0 003.199 3.2l11.14-11.14 11.138 11.14c.443.442 1.02.661 1.6.661a2.262 2.262 0 001.6-3.86L33.198 30z"
			/>
		</svg>
	</div>

	<div class="button-group button-group--donate-primary">
		<a
			class="button button--flat-primary"
			title="Donate via PayPal"
			href="https://paypal.me/eamodio/3USD"
			target="_blank"
			data-action="pure-donate-button"
			data-target="pure-donate-button"
			>Donate <span class="via">via</span> PayPal</a
		>
	</div>

	<p>
		Then, on your watch, 👇 tap the <b class="donate-button">&#x2764; Donate</b> button, and enter the 3-digit
		donation code below.
	</p>

	<div class="donate-code-container">
		<div class="donate-code" data-target="pure-donate-code">___</div>
	</div>

	<h3>&#x2764; Thank you!</h3>
</div>
