<section id="section-sponsor" class="section" data-view="sponsor">
	<div class="sponsor__header">
		<h3>
			<a title="Become a sponsor on GitHub" href="https://github.com/sponsors/eamodio" target="_blank"
				>Sponsor Me</a
			>
		</h3>
		<div class="button-group button-group--cta-left">
			<iframe
				class="sponsor--github"
				src="https://github.com/sponsors/eamodio/button"
				title="Sponsor Eric Amodio"
				height="35"
				width="116"
				style="border: 0"
			></iframe>
		</div>
	</div>
	<a title="Eric Amodio" href="https://www.amod.io" target="_blank">
		<div class="sponsor-me__image" style="background-image: url(../../assets/me.png)"></div>
	</a>
	<p>
		I'm an open-source enthusiast and
		<a title="See me on GitHub" href="https://github.com/eamodio" target="_blank">maintainer</a>. I &#x2764;
		open-source &mdash; both building and contributing.
	</p>
	<p>
		My open-source work is primarily focused on
		<a title="Learn more about GitLens" href="#gitlens"><b>GitLens</b></a
		>, a powerful Git extension for VS Code, created, developed, and maintained by me, and is
		<b>loved and relied upon by millions</b>. From its humble beginnings, <b>GitLens</b> has grown wildly beyond my
		expectations — in both its reach, as well as its demands on my limited <b>&ldquo;free&rdquo;</b> time and
		attention.
	</p>
	<p>
		Today, <b>GitLens</b> has over <b>7 million installs</b> and ~<b>50M downloads</b> &#x1F631;! It is loved and
		relied upon by users on teams of all sizes, ranging from single developers to large enterprise teams.
		Developing, maintaining, and supporting <b>GitLens</b> takes a significant amount of my
		<b>&ldquo;free&rdquo;</b> time and energy, far too much if you ask my wife and kids.
	</p>
	<p>
		So, if you find
		<b>GitLens</b> or any of my other open-source work useful, please sponsor me. And if you use <b>GitLens</b> for
		work, please encourage your employer to sponsor me as well. Your <b>sponsorship</b> will help make my continued
		development of <b>GitLens</b> more <b>sustainable</b> and will <b>benefit millions</b> of VS Code users. Thank
		you for your sponsorship! 🙏
	</p>
	<div class="button-group button-group--sponsor-primary">
		<a
			class="button button--flat-primary"
			title="Become a sponsor on GitHub"
			href="https://github.com/sponsors/eamodio"
			target="_blank"
			>&#129293; Sponsor <span class="via">on</span> GitHub
			<p class="button__badge">Preferred</p>
			<p class="button__badge">No fees & GitHub match</p></a
		>
		<a
			class="button button--flat-primary"
			title="Become a sponsor on Patreon"
			href="https://www.patreon.com/eamodio"
			target="_blank"
			>&#129293; Sponsor <span class="via">via</span> Patreon</a
		>
	</div>
	<div class="button-group button-group--sponsor-secondary">
		<a
			class="button button--flat-secondary"
			title="Donate via PayPal"
			href="https://www.paypal.me/eamodio/20"
			target="_blank"
			>Donate <span class="via">via</span> PayPal</a
		>
		<!-- <a
			class="button button--flat-secondary"
			title="Donate via Cash App"
			href="https://cash.me/$eamodio"
			target="_blank"
			>Donate <span class="via">via</span> Cash App</a
		> -->
	</div>
	<p>
		P.S. I also author and maintain many other VS Code extensions and have ideas for many more, run a
		<a title="Open the VS Code Development Community Slack" href="https://vscode-slack.amod.io/">community</a>
		for VS Code extension authors, and contribute to many open-source projects.
	</p>
	<p>
		Also, please
		<a title="Star GitLens on GitHub" href="https://github.com/eamodio/vscode-gitlens" target="_blank"
			>star GitLens on GitHub</a
		>,
		<a
			title="Write a review of GitLens"
			href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#review-details"
			target="_blank"
			>write a review</a
		>, follow me on
		<a title="Follow me on Twitter" href="https://twitter.com/eamodio" target="_blank">Twitter</a>
		and
		<a title="Follow me on GitHub" href="https://github.com/eamodio" target="_blank">GitHub</a>, or consider
		<a title="Hire me" href="mailto:eric@amod.io" target="_blank">hiring me</a>.
	</p>

	<div class="section-sponsors">
		<h4>Sponsored by</h4>
		<div class="sponsors">
			<a
				class="sponsor__image-link"
				title="Try CodeStream &mdash; The World's Best Code Discussion Tool"
				href="https://codestream.com/?utm_source=gitlens_web&utm_medium=banner&utm_campaign=gitlens"
			>
				<img
					class="sponsor__image"
					src="https://alt-images.codestream.com/codestream_logo_gitlens_web_dark.png"
					alt="CodeStream &mdash; The World's Best Code Discussion Tool"
				/>
			</a>
			<a class="sponsor__image-link" title="Visit Embark Studios" href="https://embark-studios.com">
				<img
					class="sponsor__image"
					src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/main/images/docs/sponsors/embark-studios_dark.png"
					alt="Embark Studios Logo"
				/>
			</a>
			<a class="sponsor__image-link" title="Visit Localize" href="https://localizejs.com">
				<img
					class="sponsor__image"
					src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/main/images/docs/sponsors/localize_dark.png"
					alt="Localize Logo"
				/>
			</a>
			<a class="sponsor__image-link" title="Try Tabnine Autocomplete" href="https://wd5a.2.vu/GitLens">
				<img
					class="sponsor__image"
					src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/main/images/docs/sponsors/tabnine.png"
					alt="Tabnine Logo"
				/>
			</a>
		</div>
		<h4 class="footer">And by others just like you!</h4>
	</div>
</section>
