@import '_normalize';

body:not(.is-section--about) #section-about,
body:not(.is-section--sponsor) #section-sponsor,
body:not(.is-section--gitlens) #section-gitlens,
body:not(.is-section--pure) #section-pure {
	display: none;
}

body.is-section--about #about-button,
body.is-section--sponsor #sponsor-button,
body.is-section--gitlens #gitlens-button,
body.is-section--pure #pure-button {
	background: white !important;
	color: black !important;
}

html {
	box-sizing: border-box;
	color: #222;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	height: 100%;
	line-height: 1.4;
	overflow: hidden;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: black;
	height: 100%;
	margin: 0;
	min-height: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
}

a {
	border: 0;
	color: #914db3;
	font-weight: 400;
	outline: none;
	text-decoration: none;
	transition: color 250ms;

	&:hover,
	&:focus {
		color: #ba7dd9;
	}
}

.header {
	align-items: baseline;
	background: transparent;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0.5em;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.header__headine {
	flex: auto 1 0;
	font-size: 2em;
	letter-spacing: 0.125em;
	margin: 0;
	max-width: 960px;
	text-shadow: 2px 3px 6px #000, 0px 0px 42px #666;
	transform: translate(5px, -300%);
	transform-origin: top left;
	transition: transform 500ms cubic-bezier(1, 0.4, 0.7, 1.5);
	white-space: nowrap;

	body.is-section & {
		transform: translate(5px, 8%);
		transition-delay: 600ms;
	}
}

.header__buttons {
	display: flex;
	flex-wrap: nowrap;
}

.button {
	background: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	margin: 0 0.5em;
	padding: 1em 1.75em;
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
	white-space: nowrap;

	&:focus {
		outline: none;
	}
}

.button .via {
	font-size: 0.65em;
	position: relative;
	top: -1px;
}

.button--flat {
	background: rgba(0, 0, 0, 0.3);
	@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
		backdrop-filter: blur(10px);
		background: rgba(0, 0, 0, 0.2);
	}
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white !important;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background-color: white;
		color: black !important;

		& .button__icon--svg {
			filter: invert(100%);
		}
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-inverse {
	background-color: white;
	border: 1px solid white;
	color: black !important;
	font-weight: 600;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background: rgba(0, 0, 0, 0.3);
		@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
			backdrop-filter: blur(10px);
			background: rgba(0, 0, 0, 0.2);
		}
		border-color: rgba(255, 255, 255, 0.6);
		color: white !important;

		& .button__icon--svg {
			filter: invert(0%);
		}
	}

	& .button__icon--svg {
		filter: invert(100%);
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-primary {
	background-color: #914db3;
	border: 1px solid #914db3;
	color: white !important;
	font-weight: 600;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background-color: white;
		border-color: black;
		color: black !important;

		& .button__icon--svg {
			filter: invert(100%);
		}
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-secondary {
	background-color: black;
	border: 1px solid black;
	color: white !important;
	font-weight: 600;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background-color: white;
		border-color: black;
		color: black !important;

		& .button__icon--svg {
			filter: invert(100%);
		}
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button-group {
	display: flex;
	flex-wrap: wrap;

	& .button {
		white-space: nowrap;
	}
}

.button-group--donate-primary {
	font-size: 0.7em;
	justify-content: center;
	margin: 0;

	& .button {
		margin: 1em 1.5em;
		white-space: nowrap;
	}
}

.button-group--sponsor-primary {
	font-size: 0.5em;
	justify-content: center;
	margin: 1em 0;

	& .button {
		margin: 1em 1.5em;
		white-space: nowrap;
	}
}

.button-group--sponsor {
	font-size: 0.4em;
	justify-content: space-evenly;
	margin: 1em 0 1em 0;

	& .button {
		margin: 1em 1.5em;
		white-space: nowrap;
	}
}

.button-group--cta-left {
	float: right;
	margin: 0.5em -1em -1em -1em;
}

p.button__badge {
	font-size: 0.5em;
	margin-top: 1em;
	margin-bottom: -1em;
	text-align: center;
}

.button__info {
	font-size: 0.8em;
	margin-top: 1.25em;

	.cta__secondary & {
		margin-top: 1.5em;
		max-width: 25em;
	}
}

.main {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../assets/bg.jpg) 50% 50% / cover no-repeat;
	height: 100%;
	position: relative;
}

.hero {
	bottom: 0;
	color: white;
	font-size: 2.5em;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 30%;
	transition: transform 1s cubic-bezier(0.01, 0.3, 0.75, -1);

	body.is-section & {
		transform: translateX(-100%);
	}
}

.hero__headine,
.hero__subhead,
.hero__desc {
	font-size: 2em;
	letter-spacing: 0.125em;
	margin: 0;
	padding: 0;
	text-shadow: 2px 3px 6px #000, 0px 0px 42px #666;
}

.hero__subhead {
	font-size: 1.8em;
	font-weight: 400;
}

.hero__desc {
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 1em;
}

.hero__button-container {
	font-size: 0.5em;
	opacity: 1;
	position: relative;
	top: 2em;

	&.hidden {
		opacity: 0;
	}
}

.on-section-change-fade {
	transition: opacity 750ms ease-in;

	body.is-section & {
		opacity: 0;
		transition: opacity 500ms ease-out;
	}
}

.sections {
	animation: fade-out 500ms ease-out;
	animation-fill-mode: both;
	background: rgba(255, 255, 255, 0.95);
	@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
		backdrop-filter: blur(10px);
		background: rgba(255, 255, 255, 0.85);
	}
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	bottom: 0;
	color: #272727;
	display: flex;
	flex-direction: column;
	font-size: 2.5em;
	left: 0;
	margin: 2em auto 1.6em auto;
	max-width: 960px;
	min-height: 100px;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0.9);
	transition: transform 500ms cubic-bezier(0.8, -0.5, 0.2, 1.5);
	visibility: hidden;

	body.is-section & {
		animation: fade-in 500ms 750ms ease-in;
		animation-fill-mode: both;
		transform: scale(1);
		transition-delay: 600ms;
	}

	body.preload & {
		// Move it off screen so the animation can run, but we don't see the flash
		left: -200%;
	}
}

.sections__scroller {
	margin: 0.5em 0;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	1% {
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.section {
	margin: 0 1em;
	position: relative;

	& h3 {
		margin: 0;
		text-align: center;

		& a {
			color: inherit;
			font-weight: 700;

			&:hover {
				color: inherit;
			}
		}

		&.subhead {
			font-size: smaller;
			margin: 0;
			text-align: left;
		}
	}

	& h4 {
		font-size: 0.8em;
		margin: 1.5em 0 1em 0;
		text-align: center;
		font-weight: 200;
	}

	& h5 {
		font-size: 0.45em;
		margin: 1.5em 0 0 0;
	}

	& p {
		font-size: 0.45em;
	}

	& sup {
		font-size: 0.6em;
	}

	& p.sponsors {
		font-size: 0.3em;
	}

	& > ul {
		font-size: 0.45em;
	}
}

.section-header {
	display: flex;
	justify-content: center;
}

p.section-header__blurb {
	color: rgba(76, 76, 76, 0.9);
	font-size: 17px;
	font-weight: 300;
	line-height: 1.3;
	margin: -0.5em 2.5em 1.5em 2.5em;
}

.section__back-button {
	border-radius: 50%;
	box-shadow: #bbb 1px 1px 25px;
	cursor: pointer;
	display: inline-flex;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(0.75);
	z-index: 10;

	& svg circle {
		transition: fill 300ms ease-out;
	}

	& svg:hover circle {
		fill: white;
		transition: fill 200ms ease-out;
	}
}

.section-list {
	font-size: 0.45em;
	list-style: disc;
	margin: 1em;
}

.about__image {
	background-size: cover;
	border-radius: 50%;
	box-shadow: black 1px 1px 25px;
	height: 3em;
	margin: 0.5em auto;
	width: 3em;
}

.sponsor-me__image {
	background-size: cover;
	border-radius: 50%;
	box-shadow: black 1px 1px 25px;
	height: 3em;
	margin: 1em 1em 0.5em 0.5em;
	float: left;
	width: 3em;
}

.gitlens__image {
	width: 100%;
}

.gitlens__badges {
	margin-bottom: 0;
	text-align: center;

	& > a {
		display: inline-block;
		margin: 0.15em;

		&:last-child {
			display: block;
		}
	}
}

.gitlens__tweet {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

p.gitlens__tweet-caption {
	font-size: 0.4em;
	margin-top: 0;
}

.twitter-tweet {
	visibility: inherit !important;
}

.pure__image {
	float: right;
	width: 35%;
}

.heart {
	color: #f32216;
	position: relative;
	top: 0.1em;
}

blockquote {
	&:before {
		color: #7a7a7a;
		content: '\201C';
		font-size: 2em;
		left: -0.75em;
		line-height: 1;
		position: relative;
		top: 0.5em;
	}

	&:after {
		color: #7a7a7a;
		content: '\201D';
		display: block;
		font-size: 2em;
		height: 0.5em;
		left: -0.75em;
		line-height: 1;
		position: relative;
		top: -1.25em;
	}

	&.twitter-tweet {
		background: white;
		border: 1px solid rgb(225, 232, 237);
		border-radius: 4px;
		font-size: 0.35em;
		min-width: 220px;
		padding: 0 1em 0.25em 2.75em;
		max-width: 520px;

		& p {
			font-size: 1.25em;
			margin: 0 0 1em 0;
		}
	}
}

footer {
	display: block;
	margin: -5.25em 0 0 0;
	padding: 1em 0 0 0;

	& a {
		color: rgba(255, 255, 255, 0.7);
		letter-spacing: 0.1em;
		transition: color 250ms;

		&:hover {
			color: white;
		}
	}
}

.footer__links {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 1rem 0 0.5rem 0;
	padding: 0;
	position: relative;

	& * {
		align-items: center;
		display: flex;
	}
}

.footer__link {
	display: inline-block;
	padding: 0 1rem;
	position: relative;

	& a {
		display: block;
		font-weight: normal;

		& svg {
			width: 25px;
			height: 25px;

			& path {
				transition: fill 300ms ease-out;
			}

			&:hover path {
				fill: #914db3;
				transition: fill 200ms ease-out;
			}
		}
	}
}

.footer__attribution {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.7rem;
	font-weight: 100;
	letter-spacing: 0.1em;
	opacity: 0.99;
	text-transform: uppercase;
	position: absolute;
	bottom: 0.1em;
	left: 0.5em;

	span {
		font-size: 0.5rem;
		display: block;
	}
}

.footer__copyright {
	color: rgba(255, 255, 255, 0.5);
	display: block;
	font-size: 0.75rem;
	font-weight: 100;
	letter-spacing: 0.25em;
	opacity: 0.99; /* no idea why this is required */
	text-align: center;
	text-transform: uppercase;
}

.footer__marvin {
	cursor: pointer;
	height: 35px;
	opacity: 0.4;
	transition: opacity 250ms;
	width: 35px;
	position: absolute;
	right: 0;
	bottom: 0.1em;

	&:hover {
		opacity: 0.99;
	}
}

.marvin {
	background: black url(../assets/marvin-takeover.svg) center center / contain no-repeat;
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.typed-cursor {
	-webkit-animation: typedjs-blink 0.7s infinite;
	animation: typedjs-blink 0.7s infinite;
	animation: typedjs-blink 0.7s infinite;
	margin-left: 0.1em;
	opacity: 1;
	position: absolute;
}

.watch {
	background: url('../assets/watch.png') center center / contain no-repeat;
	height: 231px;
	width: 231px;
	max-height: 231px;
	max-width: 231px;
	min-height: 231px;
	min-width: 231px;
	flex: auto 1 1;
	position: relative;
	cursor: pointer;
	z-index: 5;
	transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: url(../assets/pure.png) center center / contain no-repeat;
		transform: translate(0%, 0%) scale(0.64935);
	}

	&.expand {
		transform: scale(2);
	}
}

.donate-popup {
	display: flex;
	flex-direction: column;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.25);
	color: #272727;
	padding: 1.5em 0.5em 1em 0.5em;
	margin-top: -1em;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	left: 0.25em;
	right: 0.25em;

	h3 {
		font-size: 0.865em;
		margin-top: 0.5em;
	}

	h4 {
		margin: -0.25em 1em 1em 1em;
		text-align: center;
		font-weight: 200;
	}

	p {
		margin: 0 2em;
		font-size: 0.45em;
		text-align: center;
	}

	p.donated {
		text-align: center;
		font-size: 0.5em;
	}

	p.note {
		margin: 0 5em;
		font-size: 0.35em;

		.email {
			margin-left: 0.25em;
			white-space: nowrap;

			svg {
				position: relative;
				top: 2px;
				width: 1em;
				height: 1em;

				path {
					fill: #424242;
				}
			}
		}
	}

	.close-button {
		cursor: pointer;
		display: inline-flex;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(10px, 26px) scale(0.5);
		z-index: 10;
	}

	.button-group--donate-primary .button {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.donate-button {
		border: 1px solid green;
		border-radius: 5px;
		padding: 2px 6px 2px 4px;
		line-height: 2em;
		white-space: nowrap;
	}

	.donate-code-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5em 0;
		position: relative;

		&::before,
		&::after {
			font-variant: all-small-caps;
			color: white;
			font-size: 0.7em;
			position: absolute;
			white-space: pre;
			z-index: 1;
			pointer-events: none;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0.2em;
			font-size: 0.5em;
		}

		&::before {
			content: 'Donation code';
		}

		&::after {
			content: "Revealed once you've donated";
		}

		&[data-status='pending'] {
			.donate-code {
				background-color: #c88c50;
				color: #c88c50;

				&:hover {
					background-color: darken(#c88c50, 10%);
					color: darken(#c88c50, 10%);
				}
			}

			&::after {
				content: 'confirmation';
				font-size: 0.7em;
			}

			&::before {
				content: 'Waiting for';
			}

			.donate-code-spinner {
				display: unset;
				top: 25%;
			}
		}

		&[data-status='still-pending'] {
			.donate-code {
				background-color: #c88c50;
				color: #c88c50;
				cursor: pointer;

				&:hover {
					background-color: darken(#c88c50, 10%);
					color: darken(#c88c50, 10%);
				}
			}

			&::before {
				content: 'Still waiting';
			}

			&::after {
				content: 'Too long?  Click to retry';
			}

			.donate-code-spinner {
				display: unset;
				top: 30%;
			}
		}

		&[data-status='donated'] {
			.donate-code {
				background-color: #50c850;
				cursor: pointer;

				&:hover {
					background-color: darken(#50c850, 10%);
				}
			}

			&::after {
				content: 'Enter code on device';
			}

			.donate-code-spinner {
				display: none;
			}
		}
	}

	.donate-code {
		border-radius: 10px;
		color: white;
		background-color: #c85050;
		font-size: 2em;
		padding: 0.25em 0.75em 0.25em 1em;
		letter-spacing: 0.25em;
		position: relative;
		user-select: none;
		transition: background-color 250ms, color 250ms;

		&:hover {
			background-color: darken(#c85050, 10%);
		}
	}

	.donate-code-spinner {
		display: none;
	}
}

.donate-tiers {
	display: flex;
	margin: 0.4em 0 0 0;
	padding-top: 0.1em;
	position: relative;
	z-index: 3;
}

.donate-tier {
	display: block;
	width: 100%;
	background-color: lighten(#914db3, 40%);
	border-radius: 10px;
	z-index: 0;
	cursor: pointer;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	padding-bottom: 0.5em;
	user-select: none;

	h3 {
		margin: 0 auto 0.4em auto;
		text-align: center;
	}

	h4 {
		margin: 0.5em 0.5em 0 0.5em;
		font-size: 0.75em;
	}

	p {
		text-align: center;
		opacity: 0.75;
		margin: -1.5em 0 0 0;
	}

	&.active,
	&:hover {
		background-color: #914db3;
		color: white;
		transition: background-color 200ms ease, color 200ms ease;
	}
}

.donate-tier--suggested {
	transform: scale(1.05);
	background-color: lighten(#914db3, 25%);
	z-index: 2;
}

.pure-features {
	display: flex;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.donate-features {
	margin-top: 0.5em;
	width: 100%;

	.subhead {
		text-align: center;
		color: #666;
		margin: -2.25em 1em 0 1em;
		font-size: 0.4em;
	}
}

.pro {
	position: relative;

	&::before {
		content: ' ';
		background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='7.5' width='48' height='33' rx='10' fill='%23999'/%3E%3Cpath d='M.75 24h46.5v5.75c0 5.523-4.477 10-10 10h-26.5c-5.523 0-10-4.477-10-10V24z' fill='%23424242'/%3E%3Cpath d='M8.353 29V17.264h4.032c.648 0 1.254.066 1.818.198.564.12 1.056.33 1.476.63.42.288.75.678.99 1.17.252.48.378 1.074.378 1.782 0 .684-.126 1.278-.378 1.782-.24.504-.57.918-.99 1.242-.42.324-.906.564-1.458.72a6.46 6.46 0 01-1.764.234h-1.458V29H8.353zm2.646-6.084h1.296c1.44 0 2.16-.624 2.16-1.872 0-.612-.192-1.044-.576-1.296-.384-.252-.936-.378-1.656-.378h-1.224v3.546zM19.076 29V17.264h4.23c.623 0 1.206.06 1.745.18.553.12 1.033.324 1.44.612.409.276.733.648.973 1.116.24.468.36 1.05.36 1.746 0 .864-.193 1.578-.577 2.142a3.422 3.422 0 01-1.512 1.242L28.4 29h-2.97l-2.25-4.23H21.72V29h-2.645zm2.645-6.336h1.369c.695 0 1.224-.144 1.584-.432.372-.3.558-.738.558-1.314 0-.576-.186-.978-.558-1.206-.36-.228-.889-.342-1.584-.342H21.72v3.294zm13.164 6.552a5.59 5.59 0 01-2.178-.414 4.835 4.835 0 01-1.675-1.224c-.468-.528-.834-1.17-1.098-1.926-.252-.756-.378-1.614-.378-2.574 0-.96.127-1.812.378-2.556.264-.756.63-1.386 1.098-1.89a4.548 4.548 0 011.674-1.17 5.59 5.59 0 012.178-.414c.792 0 1.513.138 2.16.414.66.264 1.225.654 1.693 1.17.468.516.828 1.152 1.08 1.908.264.744.395 1.59.395 2.538 0 .96-.132 1.818-.396 2.574-.252.756-.611 1.398-1.08 1.926a4.793 4.793 0 01-1.691 1.224c-.648.276-1.369.414-2.16.414zm0-2.286c.803 0 1.44-.342 1.907-1.026.468-.696.703-1.638.703-2.826 0-1.176-.234-2.094-.703-2.754-.468-.66-1.104-.99-1.907-.99-.804 0-1.44.33-1.908.99-.468.66-.702 1.578-.702 2.754 0 1.188.233 2.13.702 2.826.468.684 1.104 1.026 1.908 1.026z' fill='%23fff'/%3E%3C/svg%3E");
		background-size: cover;
		height: 48px;
		width: 48px;
	}
}

.pro--badge {
	&::before {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -2px;
		margin-right: 0.2em;
	}
}

.pro--inline {
	&::before {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -2px;
		margin: 0 0.1em;
	}
}

.donate-tiers-features {
	display: block;
	background: white;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	padding: 0.5em 0 0 0;
	font-size: smaller;
	list-style: none;
	flex: auto 1 1;
	margin: -0.5em 0.5em 0.5em 0.5em;

	li {
		display: flex;
		align-items: center;
		font-size: smaller;
		padding: 0.5em 1em;

		span {
			flex: auto 1 1;
		}

		&.locked {
			&::after {
				content: ' ';
				flex: 48px 0 0;
				background: url("data:image/svg+xml,%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24z' fill='%23D47777'/%3E%3Cpath opacity='.2' d='M34.125 24.9h-3.75v-5.475A6.37 6.37 0 0024 13.05a6.37 6.37 0 00-6.375 6.375V24.9h-3.75v-5.475C13.875 13.875 18.45 9.3 24 9.3s10.125 4.575 10.125 10.125V24.9z' fill='%23231F20'/%3E%3Cpath d='M34.125 23.4h-3.75v-5.475A6.37 6.37 0 0024 11.55a6.37 6.37 0 00-6.375 6.375V23.4h-3.75v-5.475C13.875 12.375 18.45 7.8 24 7.8s10.125 4.575 10.125 10.125V23.4zM24 24c-1.65 0-3 1.35-3 3 0 1.125.6 2.1 1.5 2.55v1.95c0 .825.675 1.5 1.5 1.5s1.5-.675 1.5-1.5v-1.95c.9-.525 1.5-1.5 1.5-2.55 0-1.65-1.35-3-3-3z' fill='%234F5D73'/%3E%3Cpath opacity='.2' d='M35.25 20.25h-22.5c-1.275 0-2.25.975-2.25 2.25v14.25c0 1.275.975 2.25 2.25 2.25h22.5c1.275 0 2.25-.975 2.25-2.25V22.5c0-1.275-.975-2.25-2.25-2.25zm-9.75 10.8V33c0 .825-.675 1.5-1.5 1.5s-1.5-.675-1.5-1.5v-1.95c-.9-.525-1.5-1.5-1.5-2.55 0-1.65 1.35-3 3-3s3 1.35 3 3c0 1.125-.6 2.1-1.5 2.55z' fill='%23231F20'/%3E%3Cpath d='M35.25 18.75h-22.5c-1.275 0-2.25.975-2.25 2.25v14.25c0 1.275.975 2.25 2.25 2.25h22.5c1.275 0 2.25-.975 2.25-2.25V21c0-1.275-.975-2.25-2.25-2.25zm-9.75 10.8v1.95c0 .825-.675 1.5-1.5 1.5s-1.5-.675-1.5-1.5v-1.95c-.9-.525-1.5-1.5-1.5-2.55 0-1.65 1.35-3 3-3s3 1.35 3 3c0 1.125-.6 2.1-1.5 2.55z' fill='%23fff'/%3E%3C/svg%3E")
					no-repeat;
				background-size: cover;
				height: 48px;
				width: 48px;
				margin-left: 0.75em;
			}

			&:hover {
				&::before {
					position: absolute;
					right: 14px;
					content: 'Donate to unlock';
					font-size: 0.45em;
					margin-top: 32px;
					font-variant: all-small-caps;
					color: #999999;
				}

				&::after {
					background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24z' fill='%2377D477'/%3E%3Cpath opacity='.2' d='M15.75 26.775a1.857 1.857 0 01-1.875-1.875v-5.475C13.875 13.875 18.45 9.3 24 9.3c3.45 0 6.6 1.725 8.475 4.65.6.9.3 2.025-.525 2.625-.9.6-2.025.3-2.625-.525-1.2-1.8-3.15-2.925-5.325-2.925a6.37 6.37 0 00-6.375 6.375v5.475c0 .9-.825 1.8-1.875 1.8z' fill='%23231F20'/%3E%3Cpath d='M15.75 25.275a1.857 1.857 0 01-1.875-1.875v-5.475C13.875 12.375 18.45 7.8 24 7.8c3.45 0 6.6 1.725 8.475 4.65.6.9.3 2.025-.525 2.625-.9.6-2.025.3-2.625-.525-1.2-1.8-3.15-2.925-5.325-2.925A6.37 6.37 0 0017.625 18v5.475c0 .9-.825 1.8-1.875 1.8zM24 24c-1.65 0-3 1.35-3 3 0 1.125.6 2.1 1.5 2.55v1.95c0 .825.675 1.5 1.5 1.5s1.5-.675 1.5-1.5v-1.95c.9-.525 1.5-1.5 1.5-2.55 0-1.65-1.35-3-3-3z' fill='%234F5D73'/%3E%3Cpath opacity='.2' d='M35.25 20.25h-22.5c-1.275 0-2.25.975-2.25 2.25v14.25c0 1.275.975 2.25 2.25 2.25h22.5c1.275 0 2.25-.975 2.25-2.25V22.5c0-1.275-.975-2.25-2.25-2.25zm-9.75 10.8V33c0 .825-.675 1.5-1.5 1.5s-1.5-.675-1.5-1.5v-1.95c-.9-.525-1.5-1.5-1.5-2.55 0-1.65 1.35-3 3-3s3 1.35 3 3c0 1.125-.6 2.1-1.5 2.55z' fill='%23231F20'/%3E%3Cpath d='M35.25 18.75h-22.5c-1.275 0-2.25.975-2.25 2.25v14.25c0 1.275.975 2.25 2.25 2.25h22.5c1.275 0 2.25-.975 2.25-2.25V21c0-1.275-.975-2.25-2.25-2.25zm-9.75 10.8v1.95c0 .825-.675 1.5-1.5 1.5s-1.5-.675-1.5-1.5v-1.95c-.9-.525-1.5-1.5-1.5-2.55 0-1.65 1.35-3 3-3s3 1.35 3 3c0 1.125-.6 2.1-1.5 2.55z' fill='%23fff'/%3E%3C/svg%3E");
				}
			}
		}

		&:hover {
			background-color: darken(white, 3%);
		}

		&:not(:last-child) {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		}

		&:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		p {
			font-size: 0.6em;
			margin: 0;
			color: lighten(#000, 60%);

			&.feature-more {
				font-size: 0.5em;
				margin-top: 0.5em;
			}

			&.feature-customizable {
				font-size: 0.5em;
				margin-top: 0.5em;
			}

			&.footnote {
				font-size: 0.4em;
				margin-top: 1em;
				margin-bottom: 0;
			}
		}
	}
}

.center {
	text-align: center !important;
}

div.center,
img.center {
	display: block;
	margin: 0 auto;
}

.circle--solid {
	background: #424242;
	color: #fff;
	border-radius: 50%;
	font-size: 0.75em;
	line-height: 1.5em;
	text-align: center;
	height: 1.5em;
	width: 1.5em;
}

.circle--hollow {
	color: #424242;
	border: 2px solid #424242;
	border-radius: 50%;
	font-size: 0.75em;
	text-align: center;
	width: 1.5em;
}

.spinner--dots {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	pointer-events: none;
	user-select: none;
	z-index: 1;

	animation: spinner--dots-rotate 2s infinite linear;

	& div {
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;
		background-color: white;
		border-radius: 100%;

		animation: spinner--dots-bounce 2s infinite ease-in-out;
	}

	& div:nth-child(2) {
		top: auto;
		bottom: 0;
		animation-delay: -1s;
	}
}

@keyframes spinner--dots-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spinner--dots-bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

// .spinner--ellipsis {
// 	width: 80px;
// 	height: 13px;
// 	position: absolute;
// 	pointer-events: none;
// 	user-select: none;
// 	z-index: 1;

// 	& div {
// 		position: absolute;
// 		width: 13px;
// 		height: 13px;
// 		border-radius: 50%;
// 		background: #fff;
// 		animation-timing-function: cubic-bezier(0, 1, 1, 0);
// 	}

// 	& div:nth-child(1) {
// 		left: 8px;
// 		animation: spinner--ellipsis1 0.6s infinite;
// 	}

// 	& div:nth-child(2) {
// 		left: 8px;
// 		animation: spinner--ellipsis2 0.6s infinite;
// 	}

// 	& div:nth-child(3) {
// 		left: 32px;
// 		animation: spinner--ellipsis2 0.6s infinite;
// 	}

// 	& div:nth-child(4) {
// 		left: 56px;
// 		animation: spinner--ellipsis3 0.6s infinite;
// 	}
// }

// @keyframes spinner--ellipsis1 {
// 	0% {
// 		transform: scale(0);
// 	}
// 	100% {
// 		transform: scale(1);
// 	}
// }

// @keyframes spinner--ellipsis2 {
// 	0% {
// 		transform: translate(0, 0);
// 	}
// 	100% {
// 		transform: translate(24px, 0);
// 	}
// }

// @keyframes spinner--ellipsis3 {
// 	0% {
// 		transform: scale(1);
// 	}
// 	100% {
// 		transform: scale(0);
// 	}
// }

.hide {
	display: none;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-05 {
	margin-bottom: 0.5em !important;
}

.mb-1 {
	margin-bottom: 1em !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-05 {
	margin-top: 0.5em !important;
}

.mt-1 {
	margin-top: 1em !important;
}

.mt-2 {
	margin-top: 2em !important;
}

.ml-05 {
	margin-left: 0.5em !important;
}

.ml-1 {
	margin-left: 1em !important;
}

.mr-05 {
	margin-right: 0.5em !important;
}

.mr-1 {
	margin-right: 1em !important;
}

@keyframes typedjs-blink {
	50% {
		opacity: 0;
	}
}

@media all and (max-height: 1024px) {
	.hero {
		top: 20%;
	}
}

@media all and (max-height: 260px) {
	footer {
		visibility: hidden;
	}
}

@media all and (max-width: 1120px) {
	.sections {
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media all and (max-width: 900px) {
	.header {
		align-items: center;
		flex-direction: column;
		padding-top: 1em;
	}

	.header__buttons {
		transform: translateY(-10px);
	}

	.header__headine {
		body.is-section & {
			transform: translate(0, -35%);
		}
	}

	.sections {
		margin-top: 2.75em;
	}
}

@media all and (max-width: 700px) {
	html {
		font-size: 0.9em;
	}

	.sections {
		margin-left: 1.25em;
		margin-right: 1.25em;
	}

	.donate-tiers-features {
		font-size: 0.9em;
	}

	footer {
		margin-top: -5.5em;
	}
}

@media all and (max-width: 560px) {
	html {
		font-size: 0.7em;
	}

	.header {
		align-items: center;
		flex-direction: column;
	}

	.header__buttons {
		font-size: 0.85em;
	}

	.header__headine {
		font-size: 2em;

		body.is-section & {
			transform: translate(0, -40%);
		}
	}

	.hero {
		font-size: 2em;
		top: 25%;
	}

	.sections {
		margin: 2.5em 0.5em 1.75em 0.5em !important;
	}

	.section__back-button {
		left: -0.4em;
		top: -0.4em;
		transform: scale(0.4);
	}

	.section p {
		font-size: 0.6em;
	}

	p.section-header__blurb {
		font-size: 16px;
		margin: -0.5em 1em 1.5em 1em;
	}

	.button--flat {
		background: none;
	}

	.button-group {
		flex-wrap: wrap;
	}

	.button-group--cta-left {
		font-size: 0.5em;

		.button {
			margin: 1em 1em 0 0;
			padding: 1em;
		}
	}

	.donate-tiers {
		margin-left: -0.5em;
		margin-right: -0.5em;
	}

	.donate-tiers-features {
		margin: -0.5em -0.25em 0.5em -0.25em;
		font-size: 0.9em;
	}

	.watch {
		height: 184.8px;
		width: 184.8px;
		max-height: 184.8px;
		max-width: 184.8px;
		min-height: 184.8px;
		min-width: 184.8px;

		&.expand {
			transform: scale(1.66666);
		}
	}

	.donate-popup {
		left: -0.4em;
		right: -0.4em;
		padding-left: 0;
		padding-right: 0;

		p,
		p.donated {
			font-size: 0.5em;
		}

		.close-button {
			transform: translate(14px, 12px) scale(0.375);
		}

		.tier {
			font-size: 0.9em;
		}

		.donate-code {
			font-size: 1.5em;
			padding-top: 0.5em;
		}

		.donate-code-spinner {
			width: 1.25em;
			height: 1.25em;
		}
	}

	.button-group--donate-primary {
		font-size: 0.6em;
	}

	.locked {
		&::after {
			flex: 32px 0 0 !important;
			height: 32px !important;
			width: 32px !important;
		}
	}

	.pro {
		&::before {
			height: 32px !important;
			width: 32px !important;
		}
	}

	footer {
		margin-top: -6em;
	}

	.footer__links {
		transform: scale(0.8);
	}

	.footer__marvin {
		transform: scale(0.8);
	}
}

@media all and (max-width: 320px) {
	html {
		font-size: 0.6em;
	}

	.header__buttons {
		font-size: 0.75em;
		transform: translateY(-5px);
	}

	.header__headine {
		font-size: 2em;

		body.is-section & {
			transform: translate(0, -40%);
		}
	}

	.sections {
		margin-bottom: 1.9em !important;
	}

	.section__back-button {
		left: -0.6em;
		top: -0.6em;
		transform: scale(0.4);
	}

	footer {
		margin-top: -6.5em;
	}

	.footer__links {
		transform: scale(0.75);
	}

	.footer__marvin {
		transform: scale(0.75);
	}
}

@media all and (max-width: 280px) {
	.footer__attribution,
	.footer__marvin {
		display: none;
	}
}
